.input{
    width: 92%;
    border: none;
    border-radius: 10px;
    font-size: 200%;
    margin-bottom: 5%;
    margin-left: 3%;
    background-color: rgb(221, 217, 217);
}
.lable{
    color: grey;
    font-size: 125%;
    margin-left: 3.2%;
}
.button{
    background-color: rgb(241, 204, 134);
    font-size: 150%;
    width: 70%;
    border-radius: 10px;
    align-self: center;
}
.LoginInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96.9%;
    width: 52%;
    background-color: rgb(248, 247, 247);
    margin: 0.4%;
    border-radius: 15px;
    position: relative;
}
.top{
    text-align: center;
    color: black;
    font-size: 220%;
}