.input{
    width: 92%;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    background-color: rgb(221, 217, 217);
}
.lable{
    color: grey;
    font-size: 20px;
    margin-left: 20px;
}
.button{
    background-color: rgb(241, 204, 134);
    font-size: 25px;
    width: 70%;
    border-radius: 10px;
    align-self: center;
}
.LoginInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 96.9%;
    width: 52%;
    background-color: rgb(248, 247, 247);
    margin: 5px;
    border-radius: 15px;
    position: relative;
}
.top{
    text-align: center;
    color: black;
    font-size: 30px;
}
