.input{
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25px;
    margin: 20px;
}
.lable{
    color: red;
    font-size: 26px;
}
.button{
    background-color: yellow;
    margin: 20px;
    font-size: 25px;
}
