.Project_Worked{
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    margin-left: 30%;
}
.Project_Worked_text{
    width: 90%;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.Counter{
    text-align: center;
    font-size: 30px;
    height: 30%;
    width: 10%;
}
.File_button{
    height: 60%;
    width: 25%;
    margin-left: 50%;
    background-image: url("/src/Project_Worked/photo/file_button.png");
    background-size: contain; 
    background-position: center;
    border: none;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-color: rgb(255, 248, 232);    
}
.Project_Worked_fill{
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
    margin-left: 30px;
}