.taskCardStyle{
    width: 100%;
    height: 100%;
    margin: 5%;
    margin-left: 45%;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    flex-direction: column;    
    align-items: center;       
    justify-content: center;   
    text-align: center;        
    box-sizing: border-box;
    gap: 0.5em;
}

.taskTextStyle{
    font-size: clamp(0px, 1vw, 80%);
    color: black;
    overflow-wrap: break-word;        
    word-break: break-word;            
    max-width: 100%;
    margin: 0;                         
}

.taskCountStyle{
    font-size: clamp(0px, 1vw, 90%); 
    color: black;
    margin-top: 5px;                  
}
