.TaskPageContent_CalendarDate{
    height: 98%;
    width: 30%;
}
.Task_Calendar{
    height: 60%; 
    width: 100%;
}
.Task_Cards{
    display: flex;
    align-items: center;
    height: 40%; 
    width: 100%;
    min-height: 350px;
}
.Card_CompletedTasks{
    display: flex;
    flex-direction: column;    
    align-items: center;       
    justify-content: center;   
    text-align: center;
    height: 50%;
    width: 40%;
    margin-right: 3%;
}
.Card_PendingTasks{
    display: flex;
    flex-direction: column;    
    align-items: center;       
    justify-content: center;   
    text-align: center;
    margin-left: 1%;
    height: 50%;
    width: 40%;
}