.MainPage {
    height: 100vh;
    display: grid;
    grid-template-columns: 0 1fr;
    transition: grid-template-columns 0.3s ease;
}

.MainPage.open {
    grid-template-columns: 20% 1fr;
}

.main {
    display: grid;
    grid-template-rows: 8vh 1fr;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

