html, body, #root {
    height:100%;
    width:100%;
     margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    display:flex;
    align-items: flex-start;
}
.Header{
    display: flex;
    align-items: center;       
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 8vh;
}
.dash_button{
    width: 4,5%;
    height: 65%;
    margin: 15px;
    margin-left: 40px;
    background-image: url("https://png.klev.club/uploads/posts/2024-06/png-klev-club-23zx-p-tri-poloski-menyu-png-2.png");
    background-size: cover; 
    background-position: center;
}
.message_button{
    width: 5,25%;
    height: 75%;
    margin: 15px;
    margin-right: 50px;
    margin-left: 100px;
    border-radius: 35px;
    background-image: url("https://img.freepik.com/premium-vector/icon-bell-music-phone-black-bell-sound-button-smartphone-silhouette_165079-2862.jpg");
    background-size: cover;
    background-position: center;
}
.dash_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard{
    margin: 15px;
    margin-left: 30px;
    margin-right: 30%;
}
.search_box{
  position: relative;
  margin: 45px;
  height: 50%;
  width: 25%;
}
.search{  
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0 45px 0 15px;
    background-color: rgb(224, 219, 219);
    border: none;
    outline: none;
}
.search_button{
  position: absolute;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("https://cdn-icons-png.flaticon.com/512/622/622669.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.profile_name{
    margin: 15px;
    margin-left: 18px;
    width: 15%;
    height: 15%;
}
.profile_image{
    margin-left: 60px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.profile{
    height: 90%;
    width: 10%;
    display: flex;
}
.sidebar {
  overflow: hidden;
  background: white;
  color:#222;
  border-right: 2px solid gray;
}

.layout.open {
  grid-template-columns: 20% 1fr;
}
.layout{
  display: grid;
  grid-template-columns: 0px 1fr;
  height: 100%;
  width: 93.5%;
  transition: grid-template-columns 0.3s ease;
}
.content{
    min-width: 0;
} 
.sidebar_top{
    text-align: center;
}
