.Header{
    display: flex;
    align-items: center;       
    width: 100%;
    height: 8vh;
}
.dash_button{
    width: 4%;
    height: 85%;
    margin: 15px;
    margin-left: 40px;
    background-image: url("/src/Header/photo/sidebar_button.png");
    background-size: contain; 
    background-position: center;
    border: none;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: white;     
}
.message_button{
    width: 2%;
    height: 45%;
    margin: 15px;
    margin-right: 50px;
    margin-left: 100px;
    border-radius: 35px;
    background-image: url("/src/Header/photo/bell.avif");
    background-size: contain;
    background-position: center;
    border: none;
    background-repeat: no-repeat;
    object-fit: contain;
    background-color: white;
}
.dash_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard{
    font-size: 20px;
    margin: 15px;
    margin-left: 30px;
    margin-right: 30%;
}
.search_box{
  position: relative;
  height: 50%;
  width: 25%;
}
.search{  
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 0 45px 0 15px;
    background-color: rgb(224, 219, 219);
    border: none;
    outline: none;
}
.search_button{
  position: absolute;
  left: 102%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("/src/Header/photo/search_button.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
.profile_name{
    margin: 15px;
    margin-left: 18px;
    width: 15%;
    height: 15%;
}
.profile_image{
    margin-left: 60px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}
.profile{
    height: 90%;
    width: 10%;
    display: flex;
}
.sidebar {
  overflow: hidden;
  background: white;
  color:#222;
  border-right: 2px solid gray;
}

.layout.open {
  grid-template-columns: 20% 1fr;
}
.layout{
  display: grid;
  grid-template-columns: 0px 1fr;
  height: 100%;
  width: 93.5%;
  transition: grid-template-columns 0.3s ease;
}
.content{
    min-width: 0;
    height: 98vh;
} 
.sidebar_top{
    text-align: center;
}
